<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="false">
    <description>JDBC，事物，AOP</description>


    <!--配置数据连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="jdbcUrl" value="${jdbc.mmc.url}"/>
        <property name="username" value="${jdbc.mmc.username}"/>
        <property name="password" value="${jdbc.mmc.password}"/>
        <property name="driverClass" value="${jdbc.mmc.dirverclass}"/>
    </bean>

    <!-- 定义事务管理器（声明式的事务） -->
    <bean id="transctionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="select*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="interceptorPointCuts" expression="execution(* *..service*..*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="interceptorPointCuts"/>
    </aop:config>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:conf/mybatis/mybatis-config.xml" />
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath*:conf/mybatis/mapper/*Mapper.xml" />
        <property name="typeAliasesPackage" value="com.zzd.mmc.core.bean" />

        <!--  <property name="typeAliasesSuperType" value="com.ailk.tosd.core.base.entity.IEntity" />-->
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.zzd.mmc.core.dao"/>
        <property name="sqlSessionFactoryBeanName" ref="sqlSessionFactory"/>
    </bean>
</beans>