<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="false">
    <description>系统spring 核心配置</description>

    <bean id="propertiesHolder" class="com.zzd.mmc.core.holder.PropertiesHolder">
        <property name="locations">
            <list>
                <value>classpath*:conf/properties/*.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>

    </bean>

</beans>